.Movie-details {
  text-align: center;
  display: flexbox;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
}

.error {
  color: white;
}

.header-movie-details {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ratings-container {
  display: flex;
  justify-content: space-evenly;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.stars-rating {
  display: flex;
  justify-content: center;
}

.star-rating {
  padding-top: 5px;
  color: yellow;
  margin-right: 10px;
}

.total-ratings {
  margin: 0;
  font-weight: bold;
}

.number-votes {
  margin: 0;
  font-size: small;
}

.ratings {
  padding-left: 20px;
  padding-right: 20px;
}

.rating-title {
  color: grey;
  font-weight: bold;
}

.body-details {
  display: flex;
  justify-content: space-between;
}

.images {
  height: 400px;
  width: 300px;
  padding-right: 50px;
}

.movie-details {
  padding-top: 7%;
}

.tags {
  display: flex;
  justify-content: space-evenly;
  margin-left: 15px;
}

.tag {
  border-style: solid;
  color: white;
  cursor: pointer;
  border-color: grey;
  border-width: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 8px;
  background-color: transparent;
  border-radius: 20%/50%;
}

.description {
  color: white;
  padding-bottom: 10px;
}

.roles-people {
  border-top-style: solid;
  border-top-color: grey;
  border-top-width: 1px;
  padding-bottom: 20px;
  padding-top: 5px;
  border-top-width: 100%;
  display: flex;
  justify-content: left;
}

.roles {
  color: white;
  font-weight: bold;
}

ul {
  margin: 0;
  list-style-type: none;
}

.name {
  color: #5799ef;
  padding-left: 10px;
}

.name::before {
  display: inline-block;
  margin: 0 0.5rem 0.2rem;
  content: "";
  font-size: 1rem;
  line-height: 0.5rem;
  padding: 1px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: currentColor;
  color: white;
}

.name:first-child::before {
  display: none;
}
